<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 3</title>
    <link rel="stylesheet" href="./../../static/styles.css" />
    <link rel="stylesheet" href="./../../static/pages.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="./../../static/images/logo.png" alt="logo">
            <div class="header-title">{{ Название }}</div>
            <div class="header-number">№</div>
        </div>

        <div class="page3">
            <div class="cards-column">
                <div class="cards-column__item">
                    <img src="" alt="">
                    <div>{{ data.key1}}</div>
                </div>
                <div class="cards-column__item">
                    <img src="" alt="">
                    <div>{{ data.key2}}</div>
                </div>
                <div class="cards-column__item">
                    <img src="" alt="">
                    <div>{{ data.key3}}</div>
                </div>
                <div class="cards-column__item">
                    <img src="" alt="">
                    <div>{{ data.key4}}</div>
                </div>
            </div>
    
            <img class="bg-img" src="./../../static/images/bg.png" alt="bg">
        </div>
    </div>
</body>
</html>