<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../static/styles.css" />
    <link rel="stylesheet" href="./../../static/pages.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div>logo</div>
            <div>Название</div>
            <div>№</div>
        </div>

        <div class="cards-column">
            <div class="cards-column__item">
                <img src="" alt="">
                <div>text</div>
            </div>
            <div class="cards-column__item">
                <img src="" alt="">
                <div>text</div>
            </div>
            <div class="cards-column__item">
                <img src="" alt="">
                <div>text</div>
            </div>
            <div class="cards-column__item">
                <img src="" alt="">
                <div>text</div>
            </div>
        </div>
    </div>
</body>
</html>