<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <link rel="stylesheet" href="./../../static/styles.css" />
    <link rel="stylesheet" href="./../../static/pages.css" />
</head>
<body>
    <div class="container main">
        <div class="header">
            <img src="./../../static/images/logo.png" alt="logo">
            <div class="header-title">{{ Название }}</div>
            <div class="header-number">№</div>
        </div>
        <div class="graphics">
            <img class="graphics-people" src="../../static/images/people.png" alt="people">
            <img class="graphics-graph" src="{{ путь к графику }}" alt="graph">
        </div>
        <h1 class="main-title">{{ текст }}</h1>
        <div class="main-text">Москва, 2024</div>
    </div>
</body>
</html>