@font-face {
  font-family: "ManropeVariable"; 
  src: url("./fonts/ManropeVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal; 
}

body {
  font-family: "ManropeVariable", sans-serif;
  background: #f7f8f9;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

.container {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.input {
  background: #ffffff;
  border: none;
  width: 100%;
  height: 700px;
}

.input::placeholder {
  text-align: center;
}

.tab {
  display: flex;
  margin-bottom: 32px;
}

.tabToggle {
  float: left;
  background: none;
  color: #ABB5C3;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 28px;
  font-weight: 600;
  padding: 6px 10px;
  transition: 0.3s;

  &:not(:last-child) {
    border-right: 1px solid #ABB5C3;
  }
}

.tab button:hover {
  color: #21252D;
}

.tab button.active {
  color: #21252D;
}

.tabcontent {
  display: none;
}
