<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../static/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="tab">
        <button class="tabToggle" data-tab="tab1">Отчет</button>
        <button class="tabToggle" data-tab="tab3">Презентация</button>
      </div>

      <div class="tabcontent" id="tab1">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="file-input-container">
            <input type="file" id="fileInput" class="file-input" />
            <label for="fileInput" class="file-input-label">
              <span class="file-input-text">Загрузите файл отчета</span>
            </label>
          </div>
          <button class="tab-btn" type="submit">Отправить файл</button>
        </form>
      </div>

      <div class="tabcontent" id="tab3" style="display: none">
        <div class="iframe-container">
          <iframe src="./slides/page1.html"></iframe>
          <iframe src="./slides/page2.html"></iframe>
          <iframe src="./slides/page3.html"></iframe>
          <iframe src="./slides/page4.html"></iframe>
        </div>
        <button class="tab-btn" id="downloadPptx">Скачать презентацию</button>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pptxgenjs@3.8.0/dist/pptxgen.bundle.min.js"></script>
  <script type="module" src="./../static/script.js"></script>
  <script type="module" src="./../static/pdf-template.js"></script>
</html>
