<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./../static/styles.css" />
  </head>
  <body>
    <div class="tab">
      <button class="tabToggle" data-tab="tab1">Отчет</button>
      <button class="tabToggle" data-tab="tab2">Генерация</button>
      <button class="tabToggle" data-tab="tab3">Редактирование</button>
    </div>

    <div class="tabcontent" id="tab1">
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <input class="input" type="text" placeholder="Зона контента / приложение" />
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="tabcontent" id="tab2" style="display: none">test2</div>

    <div class="tabcontent" id="tab3" style="display: none">test3</div>
  </body>
  <script type="module" src="./../static/script.js"></script>
</html>
